{% block html_head_container %}
    {% include 'head.twig' %}
    {% block head %}{% endblock %}
    </head>
{% endblock %}

<body {{ function('body_class') }}>
    {{ function('wp_body_open') }}
    <a class="skip-link screen-reader-text" href="#wp--skip-link--target">{{ _e( 'Skip to content') }}</a>

    {% include 'header.twig' %}

    <main id="wp--skip-link--target" class="site-main">
        {% block main %}
            <div class="site-content">
                {% block content %}
                    {{ post.content }}
                {% endblock %}
            </div>
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>
