<article class="post-card">
  {% if post.thumbnail %}
    <div class="post-card__image">
      <a href="{{ post.link }}" aria-hidden="true" tabindex="-1">
        <img src="{{ post.thumbnail.src('medium_large') }}" alt="{{ post.thumbnail.alt ?: post.title }}" loading="lazy" />
      </a>
    </div>
  {% endif %}

  <div class="post-card__content">
    <h3 class="post-card__title">
      <a href="{{ post.link }}">{{ post.title }}</a>
    </h3>

    <p class="post-card__excerpt">{{ post.shortExcerpt(25) }}</p>

    <div class="post-card__meta">
      <time class="post-card__date" datetime="{{ post.date('c') }}">
        {{ post.date('M j, Y') }}
      </time>

      <span class="post-card__reading-time">{{ post.readingTime }} min read</span>
    </div>
  </div>
</article>
