<div class="project-card" data-title="{{ project.title | lower }}" data-date="{{ project.date('Y-m-d H:i:s') }}">
    <a href="{{ project.link }}" class="project-card__image-link" aria-label="View project: {{ project.title }}">
        {% if project.thumbnail %}
            <img src="{{ project.thumbnail.src | resize(800) }}"
                 alt="{{ project.thumbnail.alt }}"
                 width="{{ project.thumbnail.width }}"
                 height="{{ project.thumbnail.height }}"
                 loading="lazy" />
        {% else %}
            <div class="project-card__no-image" aria-hidden="true"></div>
        {% endif %}
    </a>
    <div class="project-card__content">
        <h3 class="project-card__title">
            <a href="{{ project.link }}">{{ project.title }}</a>
        </h3>
    </div>
</div>
