<div class="project-card" data-title="{{ project.title | lower }}" data-date="{{ project.sortYear }}" data-category="{{ project.categorySlugs }}">
    <div class="project-card__image">
        {% if project.thumbnail %}
            <img src="{{ project.thumbnail.src | resize(800) }}"
                 alt=""
                 width="{{ project.thumbnail.width }}"
                 height="{{ project.thumbnail.height }}"
                 loading="lazy" />
        {% else %}
            <div class="project-card__no-image" aria-hidden="true"></div>
        {% endif %}
    </div>
    <div class="project-card__content">
        <h3 class="project-card__title">
            <a href="{{ project.link }}">{{ project.title }}</a>
        </h3>
    </div>
</div>
