{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    </head>
{% endblock %}

<body {{ function('body_class') }}>
    {{ function('wp_body_open') }}
    <a class="skip-link screen-reader-text" href="#wp--skip-link--target">{{ _e( 'Skip to content') }}</a>
    <div class="wp-site-blocks">
        <header class="header" role="banner" style="display:none;">
            {% block header %}
                <div class="wrapper">
                    <h1 class="hdr-logo">
                        <a class="hdr-logo-link" href="{{ site.url }}" rel="home">{{ site.name }}</a>
                    </h1>
                    <nav id="nav-main" class="nav-main" role="navigation">
                        {% include "menu.twig" with {'items': menu.get_items} %}
                    </nav>
                </div>
            {% endblock %}
        </header>

        <main id="wp--skip-link--target" role="main" class="wp-block-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained">
            {% block content %}
                {{ post.content }}
            {% endblock %}
        </main>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </div>
</body>
</html>