{% extends "base.twig" %}

{% block content %}
    <article class="post post--single">
        <header class="post__header">
            <h1 class="post__title">{{ post.title }}</h1>
            <p class="post__meta">
                <time datetime="{{ post.date|date('c') }}">{{ post.date|date('F j, Y') }}</time>
                {% if post.author %}
                    <span class="post__author">by {{ post.author.name }}</span>
                {% endif %}
            </p>
        </header>
        <div class="post__content">
            {{ post.content }}
        </div>
    </article>
{% endblock %}
