{% extends "tease.twig" %}

{% block content %}
    <div class="project-card">
        {% if post.thumbnail %}
            <a href="{{ post.link }}">
                <img src="{{ post.thumbnail.src|resize(400, 300) }}" alt="{{ post.thumbnail.alt }}">
            </a>
        {% endif %}
        <h3 class="project-card__title">
            <a href="{{ post.link }}">{{ post.title }}</a>
        </h3>
    </div>
{% endblock %}