{% if pagination.total_pages > 1 %}
  <nav class="blog-pagination" aria-label="Blog navigation">
    {% if pagination.current_page > 1 %}
      <a href="{{ pagination.base_url ~ 'page/' ~ (pagination.current_page - 1) ~ '/' }}" class="blog-pagination__link blog-pagination__prev" aria-label="Previous page">
        &larr; Previous
      </a>
    {% endif %}

    <ol class="blog-pagination__pages">
      {% for page in 1..pagination.total_pages %}
        <li>
          {% if page == pagination.current_page %}
            <span class="blog-pagination__link blog-pagination__link--current" aria-current="page">{{ page }}</span>
          {% else %}
            <a href="{{ pagination.base_url ~ 'page/' ~ page ~ '/' }}" class="blog-pagination__link">{{ page }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    {% if pagination.current_page < pagination.total_pages %}
      <a href="{{ pagination.base_url ~ 'page/' ~ (pagination.current_page + 1) ~ '/' }}" class="blog-pagination__link blog-pagination__next" aria-label="Next page">
        Next &rarr;
      </a>
    {% endif %}
  </nav>
{% endif %}
